<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    </head>
<body>
    <div th:fragment="sidebar" class="sidebar">
        <button onclick="location.href='/admin/prediction'" th:data-path="@{/admin/prediction}" class="sidebar-button">📦 発注予測</button>
        <button onclick="location.href='/admin/dashboard'" th:data-path="@{/admin/dashboard}" class="sidebar-button">⛅ 売上と天気</button>
        <button onclick="location.href='/sales/input'" th:data-path="@{/sales/input}" class="sidebar-button">✍️ 実績入力</button>
        <button onclick="location.href='/admin/account/list'" th:data-path="@{/admin/account/list}" class="sidebar-button">👤 アカウント管理</button>
        <button onclick="location.href='/admin/products'" th:data-path="@{/admin/products}" class="sidebar-button">🍺商品管理</button>
        <button onclick="location.href='/logout'" th:data-path="@{/logout}" class="sidebar-button">ログアウト</button>
    </div>
</body>
</html>