.main-content {
    margin-left: 180px;
    padding: 2rem;
}

.box {
    background-color: #fff;
    border-left: 6px solid #ffb703;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

h1 {
    font-size: 1.8rem;
    color: #fb8500;
    margin-bottom: 1.5rem;
}

.button-new {
    background-color: #fb8500;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    text-decoration: none;
    margin-bottom: 1rem;
    display: inline-block;
}

.button-new:hover {
    background-color: #d95d0c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}


    /* テーブルヘッダーの背景色をブランドカラーのオレンジに統一 */
table.table thead
th {
    background-color: #fb8500;
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}



td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-size: 0.95rem;
}

.action-btn {
    background-color: #fb8500;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 4px;
    text-decoration: none;
    font-size: 0.85rem;
}

.action-btn:hover {
    background-color: #d95d0c;
}

.action-buttons button,
.action-buttons a {
    margin-right: 5px;
    margin-bottom: 5px;
}

.delete-form,
.reset-password-form-in-modal,
.create-form-in-modal,
.edit-form-in-modal {
    display: inline-block;
}

.modal-body .form-group {
    margin-bottom: 15px;
}
/* 追加するボタン別クラス */
.btn-edit {
    background-color:#fb8500;
}
.btn-edit:hover {
    background-color: #fb8500;
}

.btn-password {
    background-color: #492b7b;
}
.btn-password:hover {
    background-color: #898886;
}

.btn-delete {
    background-color: #c32136;
}
.btn-delete:hover {
    background-color: #c32136;
}
.role-admin {
    color: #fb8500; /* 濃い赤系：管理者 */
    font-weight: bold;
}

.role-staff {
    color: #492b7b; /* 濃い緑系：従業員 */
    font-weight: bold;
}
